@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    background-color: #2e2d2f;
    /* background-color: #171618; */
    /* background-color: #ffffff; */
  }
  @font-face {
    font-family: 'sofiaregular';
    src: url('/src/assets/font/sofia-regular-webfont.woff2') format('woff2'),
         url('/src/assets/font/sofia-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
  /* @layer base {
    html {
      font-family: 'sofiaregular';
    
    }
  } */
